body {
	background-color: #222;
	color: #fff;
	padding: 0;
	margin: 0;
}

/*body * {
	border: 1px solid #fff;
}*/

main {
	display: block;
	margin: 5px;
}

a {
	color: #fff;
}

button {
	width: 100px;
	height: 40px;
	background-color: #222;
	color: #fff;
}

header {
	margin-top: 40px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
}

header h5 {
	padding-left: 5%;
}

header .navList {
	display: inline;
	list-style-type: none;

}

header nav {
	float: right;
	padding-right: 10%;
}

header nav li {
	display: inline;
}

header nav ul li a {
	width: 100px;
	height: 20px;
	color: #fff;
	padding: 10px;
}

header nav ul li a:hover {
	color: #000;
	background-color: #fff
}

#mainAction {
	display: block;
	margin: auto;
	text-align: center;
}
#mainAction button {
	margin: 20px;
}

#brand * {
	display: inline;
}
#brand {
	display: inline;
	padding-left: 50px;
}

#landing {
	max-width: 80%;
	margin-top: 100px;
	margin: auto;
	padding: 1% 5.333333333% 5.333333333% 5.333333333%;
}

#landing h3 {
	text-align: center;
}

#cr-stage {
	float: left;
	border: 4px solid #383838;
}

#char-detail {
	margin-right: 20px;
	display: inline;
	max-width: 300px;
	float: left;
	padding: 10px;
	margin-left: 2.3333%;
	border: 4px solid #383838;
}

#char-detail h2 {
	padding-left: 11px;
}

#status-updates {
	padding: 10px;
	font-size: 14px;
	color: #B54800;
	line-height: 1.1em;
	height: 150px;
	border: 1px solid #fff;
	overflow-y: scroll;
}

#status-updates span {
	display: block;
}

#char-list {
	padding: 15px;
	border: 1px #fff solid;
	text-align: left;
	float: left;
}

#char-list li {
	padding: 15px;
	list-style-type: none;
}
#char-list li a {
	padding: 10px;
	text-decoration: none;
}
#char-list li a:hover {
	color: #222;
	background-color: #fff;
}
#char-list li a * {
	display: inline;
	padding-right: 10px;
	text-align: left;
}

#char-detail-list {
	list-style-type: none;
	padding-bottom: 5px;
}

#logout-link {
	float: right;

}

#char-form {
	border: 1px #fff solid;
	padding: 20px;
}

#char-form * {
	display: block;
	padding: 5px;
}

